@charset "UTF-8";
/* clearfix用 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.color {
  width: 400px;
  margin: 0px auto;
}

.blue {
  background-color: #141f40;
  width: 400px;
  height: 100px;
}

.allright {
  width: 400px;
  height: 150px;
  display: flex;
}

.lightblue {
  background-color: #80bfa8;
  width: 150px;
  height: 250px;
}

.ybs{
  width: 250px;
  height: 150px;
  display: flex;
}

.yellow_blue2 {
  width: 150px;
  height: 150px;
}

.yellow {
  background-color: #dbd400;
  width: 150px;
  height: 50px;
}

.blue2 {
  background-color: #0093b7;
  width: 150px;
  height: 100px;
}

.skincolor {
  background-color: #ff9e6b;
  width: 100px;
  height: 150px;
}

.red {
  background-color: #8c2727;
  height: 100px;
  display: flex;
}

.brown {
  background-color: #d98d30;
  width: 400px;
  height: 100px;
}